<template>
    <form @submit.prevent="onFormSubmit">
        <template v-if="!origin">
            <p>Shorten your URL:</p>
            <template v-if="errors.length > 0">
                <p class="error" v-for="error in errors">{{ error }}</p>
            </template>
            <input type="text" name="url" v-model="url" />
            <button type="submit">OK</button>
        </template>
        <template v-else>
            <p>Copy the link below:</p>
            <input type="text" readonly v-model="origin" />
            <button type="button" @click.prevent="resetForm()">Back</button>
        </template>
    </form>
</template>
<script>
    export default {
        data: () => ({
            errors: [],
            origin: undefined,
            url: undefined
        }),
        methods: {
            createUrl(data) {
                let request = window.axios.post('urls', data, {
                    withCredentials: false
                })

                return request
                    .then(result => { return result })
                    .catch(error => { throw error })
            },
            onFormSubmit() {
                this.createUrl({
                    url: this.url
                }).then((response) => {
                    this.errors = []
                    this.origin = response.data.origin
                }).catch((error) => {
                    this.errors = []
console.log(error.response.data)

                    for (var inputKey in error.response.data.errors) {
                        this.errors.push(error.response.data.errors[inputKey][0])
                    }
                })
            },
            resetForm() {
                this.origin = undefined
                this.url = undefined
            }
        },
        name: 'UrlForm'
    }
</script>
<style>
    p.error {
        color: red;
    }
</style>